#your_container{
    width: 740px;
}
.navbar navbar-default{
    height: 100%;/*your_containerに対して100%になる */
    width: 100%;/*your_containerに対して100%になる */
    background-color: #eee; 
}
.container-fluid{
    height: 100%;/*your_containerに対して100%になる */
    width: 100%;/*your_containerに対して100%になる */
    background-color: rgb(87, 203, 211); 
}
.indate{
    padding-top: 16px;
}
  .realestate_name{
    line-height: 16px;
      padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: left;
      box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
      box-sizing: border-box;
  }
  .price{
    line-height: 16px;
      padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: left;
      box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
      box-sizing: border-box;
  }
  .space{
    line-height: 16px;
      padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: left;
      box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
      box-sizing: border-box;
  }
  .unit_price{
    line-height: 16px;
      padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: left;
      box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
      box-sizing: border-box;
  }
  .room_type{
    line-height: 16px;
      padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: left;
      box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
      box-sizing: border-box;
  }
  .comment{
    line-height: 16px;
      padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: left;
      box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
      box-sizing: border-box;
  }
.navbar-brand{
    color: rgb(255, 255, 255);
    padding-left: 3px;
}
.container_jumbotron{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    text-align: left;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
    box-sizing: border-box;
    width: 720px;
}
